<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp71" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp71" />
  <package id="Humanizer" version="2.12.30-gd3f3b9d3c6" targetFramework="wp71" />
</packages>